*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #d2dbdd 20%,
    #d2dbdd 100%
    );
}

/* UTILITY */
li {
  list-style-type: none;
}

/* LAYOUT */
.container{
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: white;
}

/* SECTION ASIDE */
/* utente */
.side{
  flex-basis: 35%;
  background-color: #e6eeed;
}

.utente {
  display: flex;
  padding: 5px;
  line-height: 35px;
  background-color: lightgrey;
}

.utente img {
  margin-left: 5px;
  height: 35px;
  border-radius: 50%;
}

.utente h5 {
  margin: 0 8px;
  flex-grow: 1;
}

.utente ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.utente ul li {
  margin-left: 10px;
}

.utente ul li i {
  color: gray;
}

/* notice */
.notice  {
 display: flex;
 padding: 5px 10px;
 background-color: #53e1f9;
}

.notice i {
  padding: 7px ;
  font-size: 20px;
  border-radius: 50%;
  background-color: white;
  color: #53e1f9;
}

.notice span {
  margin-left: 10px;
}

.notice span p {
  font-size: 12px;
}

.notice span a{
  color: grey;
  font-size: 11px;
}

/* search new chat*/
.new-chat{
  padding: 5px 6px;
  position: relative;
}

.new-chat input{
  width: 100%;
  height: 25px;
  border: 1px solid #4ab37340;
  padding-left: 45px;
  font-size: 10px;
  border-radius: 3px;
}

.new-chat i {
  position: absolute;
  font-size: 12px;
  color: grey;
  top: 12px;
  left: 25px;
}

/* contacts */
.contacts {
  background-color: white;
  overflow-y: auto;
}

.contacts li:hover {
  background-color: #b3cac7;
}

.contacts img {
  height: 40px;
  border-radius: 50%;
  margin: 0 7px;
}

.contacts li {
  padding: 5px;
  display: flex;
  /* padding-bottom: 5px; */
  border-bottom: 2px solid #e6eeed;
  transition: background 0.3s;
}

.active{
  background-color: #b3cac7;
}

.contacts li h5 {
  line-height: 40px;
  margin-left: 5px;
}


/* <!-- SECTION CONTENT --> */
/* general */
.content  {
  flex-basis: 65%;
  background-color: #ecdddd;
  display: flex;
  flex-direction: column;
}

.cont-header,
.cont-footer {
background-color: #d3d3d3;
}

.cont-main {
  flex-grow: 1;
}

/* cont header */
.chat {
  display: flex;
  padding: 5px;
  border-left: 1px solid gray;
}

.chat img {
  height: 35px;
  border-radius: 50%;
  margin-left: 5px;
}

.chat span {
  margin: 0 10px;
  flex-grow: 1
}

.chat span h5{
  margin-top: 5px;
}

.chat span p {
  font-size: 10px;
  color: grey;
}

.chat ul {
  display: flex;
  margin-top: 6px;
  margin-right: 15px
}

.chat ul li {
  margin: 0 5px;
}

.chat ul li i{
  font-size: 14px;
  color: grey;
}

/* cont-main */
.cont-main {
  overflow-y: auto;
}

.cont-main .row{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.row span {
  font-size: 8px;
  position: relative;
  left: 75%;
}

.riceived{
  background-color: white;
  margin-left: 25px;
}

.send {
  background-color: #71f071;
  margin-right: 25px;
}



.riceived,
.send {
  padding: 10px 25px;
  font-size: 11px;
  width: 40%;
  border-radius: 13px;
}


/* cont-footer */
.to-type{
  padding: 8px;
  display: flex;
}

.to-type  a{
 flex-basis: 10%;
 text-align: center;
 line-height: 30px;
 color: gray;
}

.to-type input {
  flex-basis: 80%;
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-size: 10px;
}
#e6eeed
