<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>BOOLZAPP</title>
  </head>
  <body>

    <div id="app" class="container">

      <!-- SECTION SIDEBAR -->
      <aside class="side">

        <div class="utente">
          <img :src="'./img/avatar' + user.avatar + '.jpg' " :alt="user.name">
          <h5> {{ user.name }}</h5>
          <ul>
            <li v-for= "">
              <a href="#">
                <i class="far fa-circle"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-comment-alt"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-ellipsis-v"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="notice">
          <i class="far fa-bell-slash"></i>
          <span>
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </span>
        </div>

        <div class="new-chat">
          <input
          type="text"
          placeholder="Cerca o inizia una nuva chat">
          <i class="fas fa-search"></i>
        </div>

        <div class="contacts">
          <ul>
            <li v-for = "(contact, index) in contacts"
              @click= "setContact(index)"
              :class= "(index == indexContact) ? 'active' : ''">
              <img :src=" `./img/avatar${contact.avatar}.jpg`"
              alt="contact.name">
              <h5> {{ contact.name }}</h5>
            </li>
          </ul>
        </div>
      </aside>

      <!-- SECTION CONTENT -->
      <main class="content">

        <section class="cont-header">
          <div  class="chat" >
            <img :src="'./img/avatar' + contacts[indexContact].avatar + '.jpg'" alt="">
            <span>
              <h5>{{contacts[indexContact].name}}</h5>
              <p>Ultimo accesso oggi alle </p>
            </span>
            <ul>
              <li>
                <a href="#">
                  <i class="fas fa-search"></i>
                </a>

              </li>

              <li>
                <a href="#">
                  <i class="fas fa-paperclip"></i>
                </a>

              </li>
              <li>
                <a href="#">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
              </li>
            </ul>
          </div>
        </section>

        <!-- cont-main -->
        <section class="cont-main">
          <div v-for="(message, index) in contacts[indexContact].messages"
           class="row">
            <div v-if="message.status == 'received'" class="riceived">
              <p>{{message.message}}</p>
              <span>{{message.date}}</span>
            </div>
            <div v-else class="send">
              <p>{{message.message}}</p>
              <span>{{message.date}}</span>
            </div>
          </div>
        </section>

        <!-- cont-footer -->
        <section class="cont-footer">
          <div class="to-type">
            <a href="#">
              <i class="far fa-smile"></i>
            </a>

            <input @keyup.enter= "writeText"
            v-model="sentMex"
            type="text" name=""
            value=""
            placeholder="Scrivi un messaggio">

            <a href="#">
              <i class="fas fa-microphone"></i>
            </a>
          </div>

        </section>

      </main>
    </div>




    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js">
    </script>
    <script src="js/main.js"></script>

  </body>
</html>
